.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
  background-color: white;
  color: #6b7280;
  border-radius: 4px;
  padding: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}
.pagination .page-num:hover {
  background-color: lightgray;
  color: white;
  transition: background-color 0.3s;
}

.pagination .active {
  background-color: #eff6ff;
  border-radius: 3px;
  color: #22262d;
}
